# Author: Zachary King - github.com/zacharyericking/sample_uniswap_flash_loans

[profile.default]
src = "src"
test = "test"
script = "script"
out = "out"
libs = ["lib"]
solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200
ffi = false
via_ir = true

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
